<div class="dialog-container">
    <img loading="lazy" src="./assets/template/welcome/bubble-frame.png" alt="Welcome Speech Bobble"/>
    <div class="console">
        <p class="hello" i18n="dialog@@hello">Hello!</p>
        <span
            class="txt-rotate"
            appTypingAnimation
            [phrasePeriod]="2000"
            [startDelay]="1500"
            [typeSpeed]="200"
            [data]='[
                {
                    "language": "cn",
                    "phrases": [ "我的名字是杨", "欢迎来到我的简历", "下面可以让你更了解我:)" ]
                },
                {
                    "language": "en",
                    "phrases": [ "My name is Guilherme.", "Be welcome to my Live Resume.", "Down below, you will know me better... :)" ]
                }
            ]'></span>
    </div>
</div>
